/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 260px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 260px;
    width: 0;
    height: 100%;
    margin-left: -260px;
    overflow-y: auto;
    background: #8f3642;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 260px;
}

#page-content-wrapper {
    width: 100%;
    /*position: absolute;*/
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {

    margin-right: -260px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 260px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
	color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


	.mobile-nav {
		display:block;
	}
	
@media(min-width:768px) {
    #wrapper {
        padding-left: 260px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 260px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
	.mobile-nav {
	display:none;
	}
	
}


@media only screen
  and (min-width : 1054px)
  and (max-width : 1180px)
{

}

@media only screen
  and (min-width : 768px)
  and (max-width : 1199px)
{
	.order-details {
		width: 91%;
		margin: 3%;
	}
}
@media only screen
  and (min-width : 480px)
  and (max-width : 767px)
{
	.order-details {
		width: 91%;
		margin: 3%;
	}
}
@media only screen
  and (min-width : 240px)
  and (max-width : 480px)
{

	.md-button {
	font-size: 13px;
	}
	.order-details {
		width: 93%;
		margin: 3%;
	}

}
