@import 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i';
/*
 * Color CSS 
 */
/*
 * Default
*/
* {
  font-family: 'Roboto', sans-serif; }

.border {
  border: 1px #555 solid;
  display: block;
  margin-bottom: 15px; }

h1 {
  font-size: 20px;
  margin-bottom: 6px;
  display: inline-block; }

h2 {
  font-size: 18px;
  margin-bottom: 0; }

h3 {
  font-size: 14px;
  margin-bottom: 0;
  padding: 0;
  line-height: 35px; }

h4 {
  font-weight: bold;
  margin: 15px 0; }

h5 {
  font-size: 14px;
  margin: 18px 0; }

h6 {
  font-size: 14px;
  margin-bottom: 20px; }

hr {
  border-top: 1px solid #e1e1e1; }

input {
  color: #000; }

input[type=number] {
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  padding: 0 8px 0 10px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  opacity: 1;
  background: red; }

.nopadding {
  padding: 0; }

.nomargin {
  margin: 0; }

.center {
  margin: auto;
  display: block; }

.modal-space {
  padding-left: 60px;
  padding-right: 35px; }
  .modal-space hr {
    width: 100%;
    display: block;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #c3c3c3;
    margin: 32px 0 0;
    width: 97%;
    float: left; }
  .modal-space p.info {
    margin: 13px 0 0; }
  .modal-space.shopping-cart .single-product {
    padding: 0 0 20px 0;
    margin: 0 4px 20px 0px; }
  .modal-space.shopping-cart .total-price {
    display: inline-block;
    float: right; }
  .modal-space button {
    margin-left: 0; }

.modal-content {
  border-radius: 0; }

.modal-header {
  background: #ebe49a;
  color: #85764f; }
  .modal-header .close {
    margin-top: 3px; }
  .modal-header .modal-title {
    margin: 5px 0 0;
    font-size: 15px; }

.modal-footer {
  border-top: 0; }

.shadow {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.37); }

.md-bordeau {
  background: #81112c;
  color: #ffffff;
  padding: 0 10px;
  margin: 14px; }

.md-border {
  border: 1px solid #9b9b9b; }

.md-button {
  padding: 0px 15px;
  line-height: 21px;
  padding: 5px 13px;
  min-width: none; }
  .md-button .ng-scope {
    margin: 0;
    padding: 0; }
    .md-button .ng-scope img {
      margin: -3px 8px 0 0px;
      padding: 0; }

#page-content-wrapper {
  padding: 5px 10px; }

table.products .btn-primary {
  background: #9b9b9b;
  padding: 10px 22px;
  border: 1px solid #9b9b9b;
  background-image: url(../images/cart-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px; }

table.products .btn-order {
  padding: 2px 5px;
  font-size: 10px;
  font-weight: bold; }

table tr:hover {
  background-color: #84754e !important;
  color: #ffffff; }

table tr.active td {
  background-color: #84754e !important;
  color: #ffffff; }

.tab-content .tab-pane p {
  font-size: 13px; }
  .tab-content .tab-pane p.info {
    margin: 20px 0; }

.tab-content .tab-pane .img-icon {
  padding: 20px 0; }
  .tab-content .tab-pane .img-icon.shop img {
    margin-right: 10px; }
  .tab-content .tab-pane .img-icon a {
    font-size: 11px;
    float: right;
    color: #a5a5a5;
    margin-right: 5px;
    text-decoration: underline; }
    .tab-content .tab-pane .img-icon a img {
      margin-left: 15px; }

#content-tab {
  background: #f5f5f5; }

.jeroen .row div {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2); }

.container, .container-fluid {
  padding-right: 35px;
  padding-left: 35px; }
  .container .bestellingen, .container-fluid .bestellingen {
    overflow: hidden;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase; }
    .container .bestellingen li, .container-fluid .bestellingen li {
      background: #ffffff; }
      .container .bestellingen li.active a, .container-fluid .bestellingen li.active a {
        color: #000;
        border-bottom: 5px solid #7e6e45;
        padding-bottom: 5px;
        font-weight: bold; }
      .container .bestellingen li.checked a:after, .container-fluid .bestellingen li.checked a:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f058";
        position: absolute;
        color: #ebe49a;
        top: 10px;
        margin-left: -4px;
        font-size: 19px;
        text-shadow: 1px 1px 1px #ccc; }
      .container .bestellingen li.disabled a, .container-fluid .bestellingen li.disabled a {
        color: #777; }
      .container .bestellingen li a, .container-fluid .bestellingen li a {
        color: #000;
        line-height: 33px;
        display: inline-block;
        word-wrap: break-word;
        text-overflow: ellipsis;
        white-space: nowrap; }

.user-data {
  padding: 21px;
  z-index: 1;
  position: relative;
  min-height: 65px;
  border-bottom: 1px solid #430615; }
  .user-data .settings-box {
    position: absolute;
    right: 25px;
    top: 25px; }

.mobile-nav {
  background: #81112c;
  display: none; }
  .mobile-nav .btn {
    margin: 17px;
    border: none;
    color: #81112c; }

#sidebar-wrapper {
  background: #81112c; }

.sidebar-nav {
  background: #81112c; }
  .sidebar-nav li {
    background: #81112c; }
    .sidebar-nav li a {
      color: #fff;
      text-transform: uppercase;
      padding: 6px;
      font-size: 13px;
      border-bottom: 1px solid #8f3642; }
      .sidebar-nav li a i {
        color: #a7586b;
        display: inline;
        margin-right: 20px;
        margin-left: 5px; }
    .sidebar-nav li img {
      width: 14px;
      height: 14px;
      margin-right: 20px;
      margin-top: -3px;
      margin-left: 5px; }
    .sidebar-nav li.current {
      background: #8f3642;
      font-weight: 900;
      border-right: 10px solid #e17785; }
      .sidebar-nav li.current a {
        color: #ffffff; }
    .sidebar-nav li.sidebar-brand {
      text-indent: -999em;
      background-image: url("../images/logo.png");
      background-size: 120px;
      background-repeat: no-repeat;
      background-position: 60px;
      position: relative;
      border-bottom: 1px solid #430615; }
  .sidebar-nav li:nth-of-type(1) a {
    border-bottom: none; }

.product-box {
  background: #ffffff;
  display: inline-block; }
  .product-box .product-list {
    margin: 0;
    padding: 0; }
    .product-box .product-list table {
      margin: 0;
      border-bottom: #9f9f9f solid 1px; }
      .product-box .product-list table th {
        background: #ebe49a; }
      .product-box .product-list table th:nth-of-type(1), .product-box .product-list table td:nth-of-type(1) {
        text-align: center; }
      .product-box .product-list table thead tr:hover {
        color: #333; }
  .product-box .product-detail hr {
    border-top: dashed #a4a4a4 2px; }
  .product-box .product-detail .units p {
    margin: 0;
    color: #595959;
    display: inline; }
  .product-box .product-detail .units p:nth-of-type(1) {
    padding: 2px 10px 0 0;
    border-right: 1px solid #a4a4a4; }
  .product-box .product-detail .units p:nth-of-type(2) {
    padding: 2px 0 10px 10px;
    display: inline-block; }
  .product-box .product-detail .units span {
    margin: 0 5px; }
  .product-box .product-detail .price {
    font-size: 12px; }
    .product-box .product-detail .price p {
      display: inline-block; }
    .product-box .product-detail .price span {
      font-size: 28px;
      line-height: 10px; }
  .product-box .product-detail img {
    margin: 0 0 25px; }

.pagination.history {
  width: 100%;
  margin: 2px 0; }
  .pagination.history li {
    font-size: 11px;
    float: left;
    background-color: #fff;
    width: 10%; }
    .pagination.history li p {
      text-align: center;
      color: #8a8a8a; }
      .pagination.history li p span {
        font-weight: bold;
        display: block;
        color: #000; }
    .pagination.history li img {
      display: inline-block;
      margin: 12px 15px; }

.tabs {
  width: 200px;
  margin-left: 8%; }

.table-tab {
  width: 250px; }

.table-pagination .tab {
  width: 45px;
  display: inline-block;
  text-align: center;
  margin: 13px 1%;
  padding: 6px;
  color: #a5a5a5;
  border: 1px solid #a5a5a5;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold; }
  .table-pagination .tab.active {
    border: 1px solid #000;
    color: #000; }

.table-pagination.total {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 20px 0;
  font-size: 14px; }
  .table-pagination.total img {
    margin: 0 10px 0 0; }
  .table-pagination.total p {
    display: inline-block;
    color: #a5a5a5; }

.pagination-table .row .button {
  border-radius: 4px;
  padding: 4px;
  border: 1px solid red;
  margin: 1%;
  font-size: 12px; }

.shop {
  position: relative; }
  .shop .notification {
    background: #84754e;
    display: inline-block;
    padding: 1px 6px;
    margin: 0;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 12px;
    right: 6px; }

.shopping-cart p.small-text {
  font-size: 12px; }

.shopping-cart .single-product {
  padding: 0 20px 20px 0;
  border-bottom: 2px solid #e1e1e1;
  display: inline-block;
  margin: 0 15px 20px 15px;
  width: 97%; }
  .shopping-cart .single-product h1 {
    margin: 0; }
  .shopping-cart .single-product p {
    margin: 1px 0; }
    .shopping-cart .single-product p.amount {
      text-align: right;
      font-size: 15px;
      margin: 4px 5px 0 0; }
    .shopping-cart .single-product p.total {
      text-align: right;
      font-size: 15px;
      line-height: 20px;
      margin: 15px 5px 0 0; }
      .shopping-cart .single-product p.total span {
        font-weight: bold;
        font-size: 17px;
        margin-left: 20px; }

.shopping-cart .total-price p {
  display: inline-block;
  text-align: center;
  float: right;
  margin-right: 25px; }
  .shopping-cart .total-price p span {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px; }

.order-list .single-product {
  background: #fff;
  display: inline-block;
  margin: 0 15px 15px;
  padding: 15px 15px 0 0;
  position: relative; }
  .order-list .single-product .desc {
    color: #000; }
    .order-list .single-product .desc p {
      margin: 0;
      padding: 0;
      font-size: 11px; }
  .order-list .single-product a {
    font-size: 12px;
    padding: 14px 0 12px 0;
    text-decoration: underline;
    display: inline-block;
    margin: 0;
    line-height: 15px;
    color: #b3b3b3; }
  .order-list .single-product .total-product-price {
    position: absolute;
    right: 0;
    bottom: 0; }
    .order-list .single-product .total-product-price p {
      display: inline-block;
      text-align: center;
      float: right;
      margin-right: 20px;
      font-size: 15px; }
      .order-list .single-product .total-product-price p span {
        font-weight: bold;
        font-size: 18px; }

.order-list .total-order-price p {
  float: right;
  margin: 0 -13px 0 0;
  padding: 0;
  font-size: 15px; }
  .order-list .total-order-price p span {
    font-weight: bold;
    font-size: 18px; }

.order-list h1 {
  margin: 0;
  font-size: 16px; }

.order-list .btn-close {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex; }
  .order-list .btn-close input {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    width: 76%;
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    margin-left: -5px;
    min-height: 30px; }
  .order-list .btn-close img {
    margin-left: 5px;
    -webkit-box-flex: 0;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0;
    /* OLD - Firefox 19- */
    -webkit-flex: 0;
    /* Chrome */
    -ms-flex: 0;
    /* IE 10 */
    flex: 0;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */ }

.order-list .total-price p {
  display: inline-block;
  text-align: center;
  float: right;
  margin-right: 25px; }
  .order-list .total-price p span {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px; }

.order-details .ticket {
  background: #ffffff;
  padding-bottom: 25px; }
  .order-details .ticket .detail {
    margin: 0 10px 0 25px;
    position: relative; }
    .order-details .ticket .detail h2 {
      margin: 20px 0 12px; }
    .order-details .ticket .detail p {
      margin: 2px 0; }
      .order-details .ticket .detail p strong {
        margin: 5px 0;
        display: block; }
    .order-details .ticket .detail a {
      margin: 0;
      position: absolute;
      bottom: 15px;
      right: 0;
      font-size: 11px;
      text-decoration: underline;
      color: #9c4d59; }
    .order-details .ticket .detail hr {
      margin: 10px 0 0; }
